body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #E1F5FE; /* Standard syntax */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar, .navbar-inverse, .navbar-fixed-top{
    background-color:#039BE5;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
  opacity: 0.5;
  font-size: 20px;
  margin-top: 20px;
}

.jumbotron img{
    width: 100%;
    border:solid 1px;
    border-radius:5px;
}

.navbar-header img{
    height:80px;
}

th {
    background-color: #4FC3F7;
}

tr:nth-child(even){
    background-color: #B3E5FC;
}

.col-md-4{
    text-align: center;
}

body {
    /*background: #E1F5FE; /* Standard syntax */
    background: #ffffff;
}

.jumbotron {
    margin: auto;
    border: solid 1px;
}

.biglogo {
    float: left;
    height: 50px;
    width: 258px;
}

.biglogoimg {
    height: 50px;
    width: 258px;
}

.thenav {
    float: right;
    text-align:right;
}

.navbar-toggle {
    float: right;
}

#leftinfo{
    margin:auto;
    text-align:center;
}

#rightinfo{
    margin:auto;
    text-align:center;
}

.biglogo{
    float:left;
    height:50px;
    width:258px;
}
.biglogoimg{
    height:50px;
    width:258px;
}
.thenav{
    float:right;
}
.navbar-toggle{
    float:right;
}

.star{
    height: 24px !important;
    width: 12px !important;
}

hr {
    border-color: black;
    display: inherit;
}

.prod {
    height: 24.5em;
    border: solid 2px black;
    overflow-y: hidden;
    border-radius: 10px;
}

details {
    font-size: 14pt;
    color: #01579B;
    z-index: 1000000;
    background-color: #B3E5FC;
}

summary:hover {
    cursor: pointer;
}

details p {
    padding-top: 5px;
    font-size: 11pt;
    color: black;
}
h3 {
    color: #0D47A1;
    text-decoration: underline;
}

#searchBar {

    position: relative;
    border: 2px solid #0277BD;
    padding: 3px 15px;
    font-size: 1.3em;
    background: #81D4FA;
    width: 30%;
    border-radius: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  color: #48a3db;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #48a3db;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #48a3db;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #48a3db;
  opacity: 1;
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar, .navbar-inverse, .navbar-fixed-top{
    background-color:#039BE5;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
  opacity: 0.5;
  font-size: 20px;
  margin-top: 20px;
}

.jumbotron img{
    border:solid 1px;
    border-radius:5px;
}

th {
    background-color: #4FC3F7;
}

tr:nth-child(even){
    background-color: #B3E5FC;
}

#leftinfo{
    margin:auto;
    text-align:center;
}

#rightinfo{
    margin:auto;
    text-align:center;
    
}
body {
    /*background: #E1F5FE; /* Standard syntax */
    background:#ffffff;
}
.jumbotron{
    margin:auto;
    border:solid 1px;
}

.review{
    border: 2px solid;
    padding: 2px;
}
.review_U{
    border: 2px solid;
}
.review_R{
}
.review_M{
    border: 2px solid;
}
#filters {
    background-color: dodgerblue;
    height: auto;
    width: 100%;
    float: right;
    border-radius: 5px;
    position: relative;
    bottom: 7px;
    margin-bottom:10px;
    padding-bottom:10px;
}
.filter{
    height:30px;
    text-align:center;

}
.filter  input{
    
}
.filter label {
    color: white;
    bottom: 2px;

    vertical-align:middle;
}
.bikefilter{
    margin-bottom:0px;
}
input[type="checkbox"] {
    margin-top: 18px;
    margin-left: 7px;
}


.mySlides{
    height:200px;
    width:50% !important;
    padding:0;
    margin:0;
    margin:auto;
}
.header{
    margin-top:0px;
}
.thenav > ul > li {
    height:50px;
    padding:0px;
    margin:0px;
    
    margin:auto;
}
.thenav > ul > li >a {
    height:50px;
    padding:0px 10px 10px 10px;
    text-align:center;
    
    opacity:1 !important;
    border-radius:5px;
}
.thenav > ul > li >a:hover {
    background:#333333 !important;
    opacity:1 !important;
}
.logedinnav {
    height: 100%;
    float:left;
    padding: 0px 10px 10px 5px;
    text-align: center;
    opacity: 1 !important;
    background:white;
    border-radius: 5px;
    margin:auto;
}
.logedinnav > li > a{
    color:#333333;
}
.logedinnav:hover{
    color:#333333;
}
nav-bar-nav{
    width:50%;
}
.toggle2 {
    float: left;
    width: 100%;
    display: block;
    border: 1px black solid;
}

.avgReviewStars{
    position: absolute;
    width: 125px;
    bottom: 11%;
    left: 35%;
    z-index:20;
}

.avgReviewScore {
    position: absolute;
    bottom: 11%;
    left: 35%;
    height: 25px;
    z-index: 19;
}

#noResults {
    text-align:center;
}

#noResults img {
    height: 200px;
    width: auto;
}

.review_M {
    word-wrap: break-word;
}