
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar, .navbar-inverse, .navbar-fixed-top{
    background-color:#039BE5;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
  opacity: 0.5;
  font-size: 20px;
  margin-top: 20px;
}

.jumbotron img{
    width: 100%;
    border:solid 1px;
    border-radius:5px;
}


th {
    background-color: #4FC3F7;
}

tr:nth-child(even){
    background-color: #B3E5FC;
}



#leftinfo{
    margin:auto;
    text-align:center;
}

#rightinfo{
    margin:auto;
    text-align:center;
    
}
body {
    /*background: #E1F5FE; /* Standard syntax */
    background:#ffffff;
}
.jumbotron{
    margin:auto;
    border:solid 1px;
}