@{

    ViewBag.Title = "About Adventure Works Bikes";
}
<h2>@ViewBag.Title.</h2>
<br />



<div class="col-md-6">
    <h1>About Us</h1>
    <p style="font-size:19pt">
        Adventure Works Bicycle Company started back in the summer of '68 as a small family business creating and selling bikes for local townspeople to
        purchase and enjoy. Since then, Adventure Works advanced into a larger company and expanded their wares from regular bikes for casual strolls to
        mountain trekking bikes, spare bike parts, and safety equipment. Even if Adventure Works kept on changing these past 40+ years, they still kept their
        word and won't give up on their grand plan of providing high quality bicycles and bicycle equipment for all to use.
    </p>

    <br />

    <image class="img-rounded" width="500px" src="~/Content/images/people.jpg"></image>
</div>


<div class="col-md-6">
    <h1>FAQ</h1>
    <h4>Q: Will my bicycle arrive assembled?</h4>
    <p>
        A: Our bicycles arrive 90% assembled, all you have to do is attach the front wheel, pedals, handle bar and do some minor tuning and tweaking.
        We highly recommend you get your bicycle assembled by a trained bicycle mechanic. <br> All tools required for assembly are included. Detailed assembly instructions will be emailed upon purchase.
    </p>
    <br />
    <h4>Q: Do you have a shop I can visit?</h4>
    <p>A: No, to keep our prices extremely competitive, we are a fully online shop without a retail location.</p>
    <br />
    <h4>Q: What size should I ride?</h4>
    <p>
        A: Generally, our Small size fits anyone between the heights of 4' 8" to 5' 3" (160 cm), our Medium size fits anyone between the heights of 5' 6" (168 cm) and 5' feet 10" (178 cm),
        and our Large size fits anyone 5" 11" (180 cm) or taller. You can view the size guide for each of our bikes on the bicycle product page, just below the product photos.
    </p>
    <br />
    <h4>Q: When will my bicycle arrive?</h4>
    <p>A: We use FedEx Ground to ship across Canada and it generally takes 3 - 6 business days after the order is processed.</p>
    <br />

    <image class="img-rounded" width="400px" src="~/Content/images/amazing.png"></image>
</div>

<br /><br />


<hr />

<!--
<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/orange.jpg"></image>
    <p>hello world</p>
</div>

<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/green.jpg"></image>
    <p>hello world</p>
</div>

<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/blue.jpg"></image>
    <p>hello world</p>
</div>

<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/yellow.jpg"></image>
    <p>hello world</p>
</div>-->

