@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<hr />

<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/orange.jpg"></image>
    <p>hello world</p>
</div>

<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/green.jpg"></image>
    <p>hello world</p>
</div>

<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/blue.jpg"></image>
    <p>hello world</p>
</div>

<div class="col-md-5">
    <image class="img-rounded" src="~/Content/images/yellow.jpg"></image>
    <p>hello world</p>
</div>