@{
    ViewBag.Title = "About Adventure Works Bikes";
}
<h2>@ViewBag.Title.</h2>
<br />

<h3>About Us</h3>
<p>Adventure Works Bicycle Company started back in the summer of '68 as a small family business creating and selling bikes for local townspeople to
     purchase and enjoy. Since then, Adventure Works advanced into a larger company and expanded their wares from regular bikes for casual strolls to
     mountain trekking bikes, spare bike parts, and safety equipment. Even if Adventure Works kept on changing these past 40+ years, they still kept their
     word and won't give up on their grand plan of providing high quality bicycle and bicycle equipment for all to use.</p>

<br />

<h3>FAQ</h3>
<h4>Q: Question 1?</h4>
<p>Use this area to provide additional information.</p>
