@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <div class="row"><img src="~/Content/Images/BikeImage.jpg" alt="Image1">
        <div class="col-md-pull-6" id="leftinfo">
            <h2>Browse our selection of bikes</h2>
            <p><a class="btn btn-default" href="~/Bike/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-pull-6" id="rightinfo">
            <h2>and our biking gear</h2>
            <p><a class="btn btn-default" href="~/Gear/Index">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

