@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Images/BikeImage.jpg" alt="Image1">
    <div class="row">
        <div class="col-md-4" id="leftinfo">
            <h2>Browse out selection of bikes</h2>
            <p><a class="btn btn-default" href="~/Bike/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4" id="rightinfo">
            <h2>Browse our selection of biking gear</h2>
            <p><a class="btn btn-default" href="~/Gear/Index">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

