
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

        
        <div class="row">
            <!--<img src="data:image;base64,System.Convert.ToBase64String(item.ThumbNailPhoto)" height="100" />-->
            <img src="~/Content/Images/BikeImage.jpg" alt="Image1">
            <div class="col-md-pull-6" id="leftinfo">
                <h2>Browse our selection of bikes</h2>
                <p><a class="btn btn-default" href="~/Bike/Index">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-pull-6" id="rightinfo">
                <h2>and our biking gear</h2>
                <p><a class="btn btn-default" href="~/Gear/Index">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

@{List<String> temp = new List<string>(); }
@foreach (var item in ViewBag.images)
{
    temp.Add("<img src='data:image;base64," + @System.Convert.ToBase64String(item) + "' height='100' />");


}
<script>
    var a = Math.floor((Math.random() * @temp.Count + 1);
    console.log("@temp[a]");
</script>
